* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
  text-decoration: none;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.menu {
  height: 48px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu_section {
  display: flex;
  align-items: center;
}

.menu_section.left .menu_icon {
  padding: 12px 16px;
}

.menu_link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #757575;
  padding: 12px 8px;
}

.menu_link.active {
  color: #4285f4;
  border-bottom: 2px solid #4285f4;
}

.menu_link:not(.active) {
  margin-bottom: 2px;
}

.menu_section.right {
  margin-right: 4px;
}

.menu_section.right .menu_icon {
  padding: 12px;
}

.menu_perfil {
  padding: 4px;
  width: 40px;
  height: 40px;
  position: relative;
}

.menu_avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.menu_avatarframe {
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 56px 8px 0;
}

.content_logo {
  width: 400px;
}

.content_search {
  margin-top: 18px;
  width: 100%;
  max-width: 736px;
  padding: 7px 10px 6px 20px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
  background: transparent;
  border-radius: 25px;
  border: 1px solid #dadce0;
  outline: 0;
}

button {
  display: inline-block;
  margin-top: 1rem;
  font-size: 16px;
  height: 2rem;
  width: 10rem;
  background: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

button:hover {
  background: rgba(0, 0, 0, 0.2);
}

.content_offer {
  margin-top: 24px;
  font-size: 13px;
  padding: 6px 12px;
}

.footer {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
}

.footer_section:not(:first-child) {
  border-top: 1px solid #e4e4e4;
}

.footer_location {
  font-size: 16px;
  color: #5f6368;
  padding: 10px 12px;
}

.footer_links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  padding: 10px;
}

.footer_links a {
  text-decoration: none;
  color: #5f6368;
  margin-left: 27px;
}

.footer_links a:hover {
  background: rgba(0, 0, 0, 0.2);
}

@media (min-width: 763px) {
  .content {
    padding-top: 120px;
  }

  .content_logo {
    height: 150px;
  }
}