* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
  text-decoration: none;
}

.menu {
  height: 48px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu_section {
  display: flex;
  align-items: center;
}

.menu_section.left .menu_icon {
  padding: 12px 16px;
}

.menu_link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #757575;
  padding: 12px 8px;
}

.menu_link.active {
  color: #4285f4;
  border-bottom: 2px solid #4285f4;
}

.menu_link:not(.active) {
  margin-bottom: 2px;
}

.menu_section.right {
  margin-right: 4px;
}

.menu_section.right .menu_icon {
  padding: 12px;
}

.menu_perfil {
  padding: 4px;
  width: 40px;
  height: 40px;
  position: relative;
}

.menu_avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.menu_avatarframe {
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 8px 0;
}

.content_logo {
  width: 400px;
}

.content_search {
  margin-top: 18px;
  width: 100%;
  max-width: 736px;
  padding: 7px 10px 6px 20px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
  background: transparent;
  border-radius: 25px;
  border: 1px solid #dadce0;
  outline: 0;
}

.content_offer {
  margin-top: 24px;
  font-size: 13px;
  padding: 6px 12px;
}

